<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomasyb.tomasybandroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 微信权限，微博权限，qq只需前两个 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--
    _________________________________________________________地图SDK（包含其搜索功能）需要的基础权限
    1、WRITE_EXTERNAL_STORAGE :允许程序设置内置sd卡的写权限
    2、INTERNET :允许程序打开网络套接字
    3、ACCESS_NETWORK_STATE :允许程序获取网络状态
    4、ACCESS_WIFI_STATE :允许程序访问WiFi网络信息
    5、READ_PHONE_STATE: 允许程序读写手机状态和身份
    6、ACCESS_COARSE_LOCATION:允许程序访问CellID或WiFi热点来获取粗略的位置(如下)
    -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".base.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- _________________________________________________________高德地图Key -->

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="472e6477f4510174c89ee05a1fe4a280" />

        <activity android:name=".ui.map.MapInfoActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".example.callback.CallBackActivity" />
        <activity android:name=".example.life.ActivityLifeActivity" />
        <activity android:name=".example.custom.CustomViewActivity" />

        <!-- .............引导页................ -->
        <activity android:name=".SplashActivity" />

        <!-- .............常用UI主界面................ -->
        <activity android:name=".ui.study.uiexample.ComUiMainActivity" />

        <!-- .............登录界面................ -->
        <activity
            android:name=".ui.comui.LoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- .............分享功能................ -->


        <!-- .............qq配置开始................ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106985215" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- .............qq配置结束................ -->


        <!-- .............Retrofit用法................ -->
        <activity android:name=".ui.study.RetrofitStudyActivity" />
        <activity android:name=".ui.study.StudyMainActivity" />
        <activity android:name=".ui.study.RxjavaStudyActivity" />
        <activity android:name=".ui.text.TextActivity" />
        <activity android:name=".ui.imgselect.ImgSelectActivity" />
        <activity android:name=".ui.study.kotlin.KotlinUseActivity" />
        <activity android:name=".ui.me.MeAdressListActivity" />
        <!-- _________________________________________________________视屏录制 -->
        <activity android:name=".ui.video.VideoRecordingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.collect.CollectActivity"></activity>
    </application>

</manifest>