<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomasyb.tomasybandroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 微信权限，微博权限，qq只需前两个 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--
    _________________________________________________________地图SDK（包含其搜索功能）需要的基础权限
    1、WRITE_EXTERNAL_STORAGE :允许程序设置内置sd卡的写权限
    2、INTERNET :允许程序打开网络套接字
    3、ACCESS_NETWORK_STATE :允许程序获取网络状态
    4、ACCESS_WIFI_STATE :允许程序访问WiFi网络信息
    5、READ_PHONE_STATE: 允许程序读写手机状态和身份
    6、ACCESS_COARSE_LOCATION:允许程序访问CellID或WiFi热点来获取粗略的位置(如下)
    -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".base.IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.map.MapInfoActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".example.callback.CallBackActivity" />
        <activity android:name=".example.life.ActivityLifeActivity" />
        <activity android:name=".example.custom.CustomViewActivity" />
        <!-- _________________________________________________________引导页 -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- .............常用UI主界面................ -->
        <activity android:name=".ui.study.uiexample.ComUiMainActivity" />

        <!-- .............登录界面................ -->
        <activity
            android:name=".ui.comui.LoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- .............Retrofit用法................ -->
        <activity android:name=".ui.study.RetrofitStudyActivity" />
        <activity android:name=".ui.study.StudyMainActivity" />
        <!-- _________________________________________________________Rxjava学习 -->
        <activity android:name=".ui.rxjava.RxjavaStudyActivity" />
        <activity android:name=".ui.text.TextActivity" />
        <activity android:name=".ui.imgselect.ImgSelectActivity" />
        <activity android:name=".ui.study.kotlin.KotlinUseActivity" />
        <activity android:name=".ui.me.MeAdressListActivity" />
        <activity android:name=".ui.collect.CollectActivity" />
        <!-- ___________________________________________________________Dialog使用 -->
        <activity android:name=".ui.dialog.DialogUseActivity" />
        <activity android:name=".ui.mvpexample.MvpExampleActivity" />
        <!-- _____________________________________________________________SwipeRefresh的使用 -->
        <activity android:name=".ui.refresh.nativerefresh.SwipeRefreshActivity" />
        <!-- _____________________________________________________________通知适配8.0系统的使用 -->
        <activity android:name=".ui.notification.NotificationActivity" />
        <!-- _____________________________________________________________Activity生命周期 -->
        <activity android:name=".ui.activitylifecycle.LifeCycleActivity" />
        <!-- _____________________________________________________________Activity通信 -->
        <activity android:name=".ui.activitylifecycle.IntenTtransmitActivity" />

        <!-- _____________________________________________________________Activity服务通信 -->
        <activity android:name=".ui.service.ServiceUseActivity" />

        <service android:name=".ui.service.TextService" />
        <service android:name=".ui.service.FrontService" />
        <!-- _____________________________________________________________视频相关 -->
        <!-- 录制小视频 -->
        <activity android:name=".ui.video.VideoRecordingActivity" />
        <!-- 全屏播放 -->
        <activity
            android:name=".ui.video.IjkFullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor" />
        <!-- _____________________________________________________________微信登录 -->
        <activity android:name=".ui.login.WXLoginActivity"></activity>
        <!-- 微信登录配置 start  WXEntryActivity 必须在包名下 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/wx_login_style" />
        <!-- 微信登录配置 end -->

        <activity android:name=".ui.banneruse.BannerUseActivity" />
        <activity android:name=".ui.bottombaruse.BottomBarUseActivity" />
        <activity android:name=".ui.titlebaruse.TitleBarUseActivity" />
        <activity android:name=".ui.flow.FlowLayoutActivity" />
        <activity android:name=".ui.view.CustomViewStudyActivity" />
        <activity android:name=".ui.login.ShareLoginMainActivity" />
        <activity android:name=".ui.audio.AudioMainActivity" />
        <activity android:name=".ui.addressbook.AddressBookActivity"></activity>
        <activity android:name=".ui.addressbook.AddressBookWithHeaderActivity"></activity>
        <activity android:name=".ui.addressbook.AddressBookWithSwipDelActivity">

        </activity>
        <activity android:name=".ui.cityselected.MeituanCitySelectActivity">

        </activity>
    </application>

</manifest>